build
reports
.gradle
*.log
.DS_Store
*.ipr
*.iml
*.iws
out
.idea
reports/enrollments/uiScreenshots/enrollSmokeTest/001-001-Step_1__log_into_hub-failure.png
reports/enrollments/uiScreenshots/enrollSmokeTest/001-001-Step_1__log_into_hub-failure.html
gradle.properties
gradle.properties
src/test/groovy/Web/ui/DotComCards/EnergyCardSpec.groovy
gradle.properties
